<b style="float: left; color: darkorange; font-size: 30px;">{{todaydate | date:'d/M/y'  }} {{todaydate | date:'shortTime'}}</b>

<b class="nav-link" style="font-style: italic;color:chartreuse;font-weight: 120;text-align:center;float: right;font-size: 30px; ">Welcome {{name| uppercase}} !</b>
<br><br>
<br>
<div><h1 style="font-family:cursive; color: aqua; font-size:40px;text-align: center; font-display: underline;">Courses We Provide</h1></div>
<br><img src="assets/img/Course.gif" width="400px" height="350px" style="float: left;">
<!-- <h3 style="text-align: center;">Courses</h3><br>
<h3>We</h3><br>
<h3>Provide</h3> -->
<img src="assets/img/Thebeginner.gif" height="250px" width="200px" style="margin-left: 60px; margin-top: 40px; border-bottom-color: aqua;" >
<img src="assets/img/Course1.gif" width="400px" height="350px" style="float: right;">
